/**
 * @author			Filipe Araujo
 * 
 * @version			1.1
 * @since			1.0
 * 
 * @lastChanges		
 */

/**
* @section				Asthetics
*/
#wgt-bn-bar.bn-bar-shadow #bn-bar-bg {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
}
#wgt-bn-bar.bn-bar-rounded #bn-bar-bg {
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
}

/**
* @element				BN Bar Widget
*/
#wgt-bn-bar {
	bottom : 0;
	color : #666;	
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	height : 30px;
	margin : 0 2%;
	position : fixed;
	width : 96%;
	z-index : 10000;
}
	#bn-bar-bg {
		height : 40px;
		position : relative;
		background : #e6e6e6;
		background: -webkit-gradient(linear, left top, left bottom, from(white), to(#d9d9d9), color-stop(0.1, #e6e6e6), color-stop(0.2, #d9d9d9)) ;
		border : 1px solid #aaa;
		z-index : 10001;
	}
		
	/**
	* @element				BN Bar Modules
	*/
	#bn-bar-modules {
		height : 30px;
		position : relative;
		padding : 0 70px 0 1px;
		top : -41px;
		width : auto;
		z-index : 10002;
	}
		#bn-bar-modules .mod {
			float : left;
			height : 31px;
			top : -1px;
			position : relative;
		}
		#bn-bar-modules .active {
			background : #ccc;
		}
			#bn-bar-modules .mod.active .panel {
				display : block;
			}
			#bn-bar-modules .link {
				border-right : 1px solid #bbb;
				float : left;
				padding : 3px;
				position : relative;
			}
			#bn-bar-modules .active .link {
				border-right : 1px solid #aaa;
			}
				#bn-bar-modules .link>a {
					border : 1px solid transparent;
					display : block;
					height : 23px;
					line-height : 23px;
					padding : 0 8px;
				}
					#bn-bar-modules .link>a:hover{
						background : #eee;
						border : 1px solid #ccc;
						-moz-border-radius : 2px;
						-webkit-border-radius : 2px;
					}

			#bn-bar-modules .mod .panel {
				background : #ccc;
				border : 1px solid #aaa;
				border-bottom : 0;
				bottom : 31px;
				display : none;
				left : -1px;
				padding : 2px;
				position : absolute;
				width : 250px;
				z-index : 10003;
				-moz-border-radius : 2px 2px 0 0;
				-webkit-border-radius : 2px 2px 0 0;
			}

/**
* @element				BN Bar Specific Modules
*                       Debug Mod
*/
#bn-bar-modules #mod-debug {
	position : absolute;
	right : 0;
}
	#bn-bar-modules #mod-debug .link {
		border-left : 1px solid #aaa;
		border-right : 1px solid #aaa;
	}
	#bn-bar-modules #mod-debug .panel {
		left : auto;
		right : 0;
		width : 1100px;
		z-index : 10004;
	}
		#mod-debug-panel-content {
			border : 1px solid #aaa;
			background : #ddd;
			height : 200px;
			padding : 5px;
		}
		#mod-debug-panel-nav {
			height : 16px;
			position : relative;
			top : 1px;
		}
			#mod-debug-panel-nav li {
				float : left;
				line-height : 15px;
			}
			#mod-debug-panel-nav li.active {
					background : #ddd;
					border : 1px solid #999;
					border-bottom : 0;
				}
				#mod-debug-panel-nav li a {
					display : inline;
					padding : 0 10px;
				}
				#mod-debug-panel-nav li a:hover {
					text-transform : underline;
				}

/**
* @element				BN Bar Specific Modules
*                       Debug Mod
*                       XML Debug
*/
#mod-debug-panel-xml {
	height : 200px;
	overflow : auto;
}
	#mod-debug-panel-xml ul {
		padding-left : 8px;
	}
	#mod-debug-panel-xml>ul {
		padding-left : 0;
	}
		#mod-debug-panel-xml li.collapse>ul {
			display : none;
		}
		#mod-debug-panel-xml li.expand>ul {
			display : block;
		}