/**
 * @author			Filipe Araujo
 * 
 * @version			1.1
 * @since			1.0
 * 
 * @lastChanges		
 */

#cn_bar {
	bottom : 0;
	color : #666;	
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	height : 30px;
	margin : 0 2%;
	position : fixed;
	width : 94%;
	z-index : 10000;
}
	#cnb_bg {	
		height : 40px;
		position : relative;
		background : #e6e6e6;
		background: -webkit-gradient(linear, left top, left bottom, from(white), to(#d9d9d9), color-stop(0.1, #e6e6e6), color-stop(0.2, #d9d9d9)) ;
		border : 1px solid #aaa;
		z-index : 10000;
		-moz-border-radius : 5px;
		-webkit-border-radius : 5px;
		-moz-box-shadow: 0 0 5px #ccc;
		-webkit-box-shadow: 0 0 5px #ccc;
	}
		
	/**
	* @section				Modules
	*/
	#cnb_modules {
		height : 30px;
		padding : 0 200px;
		position : relative;
		top : -41px;
		width : auto;
		z-index : 10001;
	}
		#cnb_modules>ul {
			list-style : none;
			height : 30px;
			margin : 0;
			padding : 0;
		}
			#cnb_modules>ul .mod,
			#cnb_modules>ul .pub {
				float : left;
				height : 30px;
			}
			#cnb_modules .mod>a,
			#cnb_modules .pub>a {
				display : block;
				height : 30px;
				line-height : 27px;
				padding : 0 8px;
			}
	/**
	* @section						Modules
	* @module						User
	*/	
	#cnb_user {
		left : 0;
		position : absolute;
		top : 0;
		width : 200px;
	}
		
	/**
	* @section						Modules
	* @module						Share
	*/	
	#cnb_share {
		border-left : 1px solid #aaa;
		right : 0;
		position : absolute;
		top : 0;
		width : 200px;
	}
	
	/**
	* @section						Modules
	* @module						Pub
	*/	
	#cnb_pubs {
	}
		ul#cnb_pubs .pub {
			border-left : 1px solid #aaa;
			float : right;
			position : relative;
		}
		ul#cnb_pubs .active {
			border-left : 2px solid #999;
			border-right : 2px solid #999;
			height : 31px;
			position : relative;
			top : -2px;
			z-index : 10002;
			-moz-box-shadow: 0 1px 5px #ccc;
			-webkit-box-shadow: 0 1px 5px #ccc;	
		}
		ul#cnb_pubs .pub + .active {
			border-right : 1px solid #999;
		}
			#cnb_pubs .pub>a {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width : 113px;
			}
			#cnb_pubs .active>a {
				background : #f7f7f7;
				color : #666;
				line-height : 31px;
				position : relative;
				width : 110px;
				z-index : 10003;
			}
			#cnb_pubs .pub .panel {
				background : -webkit-gradient( linear, left bottom, left top, color-stop(0.68, #f7f7f7), color-stop(0.90, #fff));
				background : -moz-linear-gradient( center bottom, #f7f7f7 68%, #fff 90% );
				border : 2px solid #999;
				border-bottom : 1px solid #999;
				bottom  : 30px;
				display : none;
				height : 200px;
				min-width : 300px;
				right : -2px;
				position : absolute;
				z-index : 10000;
				-moz-border-radius : 5px 5px 0 0;
				-webkit-border-radius : 5px 5px 0 0;
				-moz-box-shadow: 0 0 5px #ccc;
				-webkit-box-shadow: 0 0 5px #ccc;	
			}
				#cnb_pubs .panel h1 {
					color : #666;
					font-size : 11px;
					padding-left : 8px;
					margin : 10px 0;
				}
				#cnb_pubs .panel .pub_info {
					border-top : 1px solid #ccc;
					border-bottom : 1px solid #ccc;
					height : 110px;
					padding : 5px 1px 5px 5px;
				}
					#cnb_pubs .pub_info div {
						height : 110px;
						overflow : auto;
						width : 100%;
					}
						#cnb_pubs .pub_info p {
							font-size : 10px;
							margin : 5px;
						}
